# 제어문 & 반복문

## 단일 조건에 따른 분기

In [4]:
x = int(input("숫자를 입력하세요.."))
if x >= 90:
    print("Pass")

숫자를 입력하세요.. 95

Pass

## 단일 조건 및 그 외 조건에 따른 분기

In [5]:
x = int(input("숫자를 입력하세요.."))
if x >= 90:
    print("Pass")
else:
    print("Fail")

숫자를 입력하세요.. 50

Fail

## 여러 조건에 따른 분기

In [9]:
x = 70
print((x >= 80) and (x < 90))
if (x >= 80) and (x < 90):
    print("조건부 합격")

False

In [6]:
x = int(input("숫자를 입력하세요.."))
if x >= 90:
    print("Pass")
elif (x >= 80) and (x < 90):
    print("조건부 합격")
else:
    print("Fail")

숫자를 입력하세요.. 85

조건부 합격

## 중첩 조건에 따른 분기
- 시나리오 
- 90점 넘으면 합격, 그 중에서 100점자에는 장학금 지급
- 80점 이상은 조건부 합격
- 그 외는 탈락

In [11]:
x = int(input("숫자를 입력하세요.."))
if x >= 90:
    if x == 100:
        print("장학금 지급")
    else:
        print("Pass")
elif (x >= 80) and (x < 90):
    print("조건부 합격")
else:
    print("Fail")

숫자를 입력하세요.. 91

Pass

# 반복문

In [21]:
for i in range(3):
    print("안녕하세요")

안녕하세요
안녕하세요
안녕하세요

- 시퀀스 자료형이 range 대신에 들어감

In [22]:
from collections.abc import Sequence

my_num = 100
my_list = [1, 2, 3]
my_string = "hello"

is_num = isinstance(my_num, Sequence)
is_list = isinstance(my_list, Sequence)
is_string = isinstance(my_string, Sequence)

print(is_num)
print(is_list)
print(is_string)

False
True
True

In [23]:
for i in my_list:
    print(i)

1
2
3

In [24]:
for i in my_string:
    print(i)

h
e
l
l
o

In [25]:
list(range(3))

[0, 1, 2]

## 중첩 for문
- 구구단 중첩 for문 만들어주세용

In [29]:
x_list = ["x1", "x2"]
y_list = ["y1", "y2"]

print("x y")
for x in x_list:
    print(x)
    for y in y_list:
        print(x, y)
    print("y 반복문 종료")

x y
x1
x1 y1
x1 y2
y 반복문 종료
x2
x2 y1
x2 y2
y 반복문 종료

## 여러 개의 리스트 다루기

In [34]:
names = ['James', 'Robert', 'Lisa', 'Mary']
scores = [95, 96, 97, 94]

print(names[0], scores[0])
print(names[1], scores[1])
print(names[2], scores[2])
print(names[3], scores[3])

James 95
Robert 96
Lisa 97
Mary 94

In [35]:
names = ['James', 'Robert', 'Lisa', 'Mary']
scores = [95, 96, 97, 94]

# idx : index 번호
for idx in range(len(names)):
    # print(idx)
    print(names[idx], scores[idx])

James 95
Robert 96
Lisa 97
Mary 94

## 리스트 컴프리헨션

In [37]:
numbers = [1, 2, 3, 4, 5]
result = []
for x in numbers:
    # 각 요소마다 곱하기 2
    # print(x * 2)
    result.append(x * 2)

print(result)
# [2, 4, 6, 8, 10]

[2, 4, 6, 8, 10]

In [38]:
numbers = [1, 2, 3, 4, 5]
result2 = [x * 2 for x in numbers]
print(result2)

[2, 4, 6, 8, 10]

In [41]:
numbers = [1, 2, 3, 4, 5, 6]
result = []
for x in numbers:
    if x % 2 == 0:
        result.append(x)
result

[2, 4, 6]

In [43]:
# 짝수만 출력하세요
numbers = [1, 2, 3, 4, 5, 6]
result2 =  [x for x in numbers if x % 2 == 0]
result2

[2, 4, 6]

## while 반복문
- 조건문이 참일 때만 반복해서 실행
- 데이터 분석 : 데이터셋이 정해져 있음
  + 행과 열이 고정이 되어 있음
  + 범위가 주어진 상태

In [1]:
i = 0
total = 0

while (total < 20):
    i = i + 1           # ==> i = 1, ==> i = 2 
    total = total + i   # ==> total = 1 + 2 ==> 3
    print(i, total)

1 1
2 3
3 6
4 10
5 15
6 21

In [2]:
k = 0
while True:
    k = k + 1 # k는 1씩 증가
    print("안녕하세요")
    if (k > 3):
        print(k)
        break     # while / for-loop 문에서 강제적으로 종료시킬 때

안녕하세요
안녕하세요
안녕하세요
안녕하세요
4

# 사용자 정의 함수

In [3]:
def my_1st_func():
    print("안녕하세요")
    print("반갑습니다")

In [4]:
my_1st_func()

안녕하세요
반갑습니다

In [6]:
k = 0
while True:
    k = k + 1 # k는 1씩 증가
    my_1st_func()
    if (k > 2):
        print(k)
        break     # while / for-loop 문에서 강제적으로 종료시킬 때

안녕하세요
반갑습니다
안녕하세요
반갑습니다
안녕하세요
반갑습니다
3

In [7]:
numbers = [1, 2, 3, 4, 5, 6]
result = []
for x in numbers:
    my_1st_func()
    if x % 2 == 0:
        result.append(x)
result

안녕하세요
반갑습니다
안녕하세요
반갑습니다
안녕하세요
반갑습니다
안녕하세요
반갑습니다
안녕하세요
반갑습니다
안녕하세요
반갑습니다

[2, 4, 6]

## 인자(인수)는 있으나 반환 값이 없는 함수

In [10]:
def my_friend(name):
    print(f"{name}는 나의 친구입니다")
    print("{}는 나의 친구입니다".format(name))

my_friend("철수")
my_friend("길동")

철수는 나의 친구입니다
철수는 나의 친구입니다
길동는 나의 친구입니다
길동는 나의 친구입니다

In [13]:
my_friend("영희")

영희는 나의 친구입니다
영희는 나의 친구입니다

## 인자(인수)는 있으나 반환 값이 있는 함수

In [ ]:
** 코드 문서화 필수

In [15]:
def my_calc(x, y):
    z = x * y
    return z

In [16]:
my_calc(3, 4)

12

## 변수의 유효 범위
- 키워드 : 전역 변수, 지역 변수

In [8]:
a = 5           # 전역 변수

def func1():
    a = 1       # 지역 변수
    print("[func1] 지역 변수 a =", a)

def func2():
    a = 2       # 지역 변수
    print("[func2] 지역 변수 a =", a)

def func3():
    print("[func3] 지역 변수 a =", a)

def func4():
    global a # 함수 내에서 전역 변수 변경 위해 선언
    a = 4
    print("[func4] 전역 변수 a = ", a)

In [7]:
func1()
func2()
func3()

[func1] 지역변수 a = 1
[func2] 지역변수 a = 2
[func3] 지역변수 a = 5

In [9]:
func1()
func2()
print("전역 변수 a=", a) #전역 변수 출력

[func1] 지역 변수 a = 1
[func2] 지역 변수 a = 2
전역 변수 a= 5

In [11]:
func3()
func4()
func3()

[func3] 지역 변수 a = 4
[func4] 전역 변수 a =  4
[func3] 지역 변수 a = 4

In [15]:
c = 1

def add():
    c = c + 2
    print(c)
add()

UnboundLocalError: cannot access local variable 'c' where it is not associated with a value

In [16]:
c = 1

def add():
    global c
    c = c + 2
    print(c)
add()

3

## 가변인수 예제
- 학생의 점수를 입력받아 평균 점수를 계산하는 함수
  + 문제점 : 각 학생들마다 시험 본 과목수가 다름
    - A : 3과목
    - B : 2과목
    - C : 5과목

In [17]:
def calculate_average(name, *scores):
    if scores:  # 가변 인수가 비어있지 않은지 확인
        average_score = sum(scores) / len(scores)
        print(f"{name}의 평균 점수는 {average_score:.2f}점입니다.")
    else:
        print(f"{name}의 점수를 입력하지 않았습니다.")

In [20]:
calculate_average("SA", 85, 70, 75)

SA의 평균 점수는 76.67점입니다.

In [24]:
calculate_average("NA", 90, 70)

NA의 평균 점수는 80.00점입니다.

In [23]:
calculate_average("C", 90, 75)

C의 평균 점수는 82.50점입니다.

In [27]:
def calculate_average(name, scores):
    if len(scores) > 0 :  # 리스트 확인
        average_score = sum(scores) / len(scores)
        print(f"{name}의 평균 점수는 {average_score:.2f}점입니다.")
    else:
        print(f"{name}의 점수를 입력하지 않았습니다.")

## 키워드 인수 확인 예제
- 학생의 이름, 과목별, 점수, 그리고 학년을 받아 학생의 성적을 출력하는 함수
    + 고정 인수 : 학생의 이름
    + 가변 인수 : 여러 개의 과목 점수
    + 키워드 인수 : 학년 정보

In [28]:
def student_report(name, *scores, **details):
    print(f"학생 이름: {name}")

    # 점수가 입력된 경우에만 평균을 계산
    if scores:
        average_score = sum(scores) / len(scores)
        print(f"평균 점수: {average_score:.2f}")
    else:
        print("점수를 입력하지 않았습니다.")

    # 키워드 인수로 전달된 추가 정보를 출력
    for key, value in details.items():
        print(f"{key}: {value}")

# 함수 호출 예제
student_report("Alice", 88, 92, 85, grade="2학년", school="Seoul High School")
print("\n")
student_report("Bob", 75, 80, 78, 90, grade="3학년", school="Busan High School", hobby="축구")
print("\n")
student_report("Charlie", grade="1학년")

학생 이름: Alice
평균 점수: 88.33
grade: 2학년
school: Seoul High School


학생 이름: Bob
평균 점수: 80.75
grade: 3학년
school: Busan High School
hobby: 축구


학생 이름: Charlie
점수를 입력하지 않았습니다.
grade: 1학년

# 람다(lambda) 함수

In [29]:
(lambda x : x ** 2)(3)

9

In [30]:
mysquare = lambda x : x ** 2
mysquare(5)

25

In [31]:
sampleFunc = lambda x, y, z : x ** 2 + 3 * y + z
sampleFunc(1, 2, 3)

10

# context Manager, Decorator
- 클로저 Closure
  + 함수 안에 또 다른 함수 생성

In [32]:
import time

# 코드가 돌아가는 시간을 체크하는 함수
def time_decorator(func):
    def wrapper(*args, **kwargs):
        start_time = time.time()
        result = func(*args, **kwargs)
        end_time = time.time()
        print(f"Function '{func.__name__}' executed in {end_time - start_time:.4f} seconds")
        return result
    return wrapper

@time_decorator
def slow_function():
    time.sleep(2)
    return "Finished"

# 사용 예시
slow_function()

Function 'slow_function' executed in 2.0010 seconds

'Finished'

# 클래스 왕기초

In [72]:
class 책: 
    title = None         # 속성
    author = None        # 속성
    pages = 0            # 속성
    price = 0            # 속성
    discount = 0         # 속성

    def 읽는시간(self, reading_speed = 30):
        return round(self.pages / reading_speed, 1)

In [73]:
# 인스턴스 생성
책01호 = 책()
책01호.title = "Streamlit"
책01호.author = "Evan"
책01호.pages = 560
책01호.price = 40000
책01호.discount = 10

print(책01호.title, 책01호.author)
출력값 = 책01호.읽는시간()
print(출력값)

Streamlit Evan
18.7

In [74]:
print(책01호.title, 책01호.author)
출력값 = 책01호.읽는시간(reading_speed = 5)
print(출력값)

Streamlit Evan
112.0

In [37]:
# 인스턴스 생성
책02호 = 책()
책02호.title = "Python"

print(책02호.title)

Python

## 코드 업데이트

In [75]:
class 책():
    # initialize : 초기화
    def __init__(self, title, author, pages, price, discount_rate=0):
        self.title = title # 책의 제목
        self.author = author 
        self.pages = pages
        self.price = price
        self.discount_rate = discount_rate
        
    def reading_time(self, reading_speed = 30):
        return round(self.pages / reading_speed, 1)

    def apply_discount(self):
        return self.price * (1 - self.discount_rate)

In [76]:
책01호 = 책("샘플", "Evan", 300, 20000, 0.5)
책02호 = 책("샘플2", "Evan1", 400, 20000, 0.1)
책03호 = 책("샘플3", "Evan2", 500, 20000, 0.1)
책04호 = 책("샘플4", "Eva3", 600, 20000, 0.1)
책01호.title, 책02호.title

('샘플', '샘플2')

In [77]:
책01호 = 책("샘플", "Evan", 300, 20000, 0.1)
책01호.reading_time()

10.0

In [79]:
class 책2():
    # initialize : 초기화
    def __init__(self, title, author=None , pagesr=None, pricer=None, discount_rate=0):
        self.title = title # 책의 제목
        self.author = author 
        self.pages = pages
        self.price = price
        self.discount_rate = discount_rate
        
    def reading_time(self, reading_speed = 30):
        return round(self.pages / reading_speed, 1)

    def apply_discount(self):
        return self.price * (1 - self.discount_rate)

In [80]:
temp = 책2("dda")
temp

NameError: name 'pages' is not defined